name: Markdown Lint

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  markdown:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint Markdown
        uses: DavidAnson/markdownlint-cli2-action@v20
        with:
          globs: |
            **/*.md
